<serverSettings>
  <socketAddresses>
    <socket address="0.0.0.0" port="8091" type="TCP"/>
    <socket address="0.0.0.0" port="8091" type="UDP"/>
    <socket address="0.0.0.0" port="9934" type="TCP"/>
    <socket address="0.0.0.0" port="9934" type="UDP"/>
  </socketAddresses>
  <ipFilter>
    <addressBlackList>
      <string>1.2.3.4</string>
    </addressBlackList>
    <addressWhiteList>
      <string>127.0.0.1</string>
    </addressWhiteList>
    <maxConnectionsPerAddress>9999999</maxConnectionsPerAddress>
  </ipFilter>
  <flashCrossdomainPolicy>
    <useMasterSocketPolicy>true</useMasterSocketPolicy>
    <policyXmlFile>crossdomain.xml</policyXmlFile>
  </flashCrossdomainPolicy>
  <systemControllerThreadPoolSize>5</systemControllerThreadPoolSize>
  <extensionControllerThreadPoolSize>20</extensionControllerThreadPoolSize>
  <systemControllerRequestQueueSize>20000</systemControllerRequestQueueSize>
  <extensionControllerRequestQueueSize>20000</extensionControllerRequestQueueSize>
  <schedulerThreadPoolSize>10</schedulerThreadPoolSize>
  <protocolCompressionThreshold>1024</protocolCompressionThreshold>
  <protocolMode>BINARY</protocolMode>
  <useBinaryProtocol>true</useBinaryProtocol>
  <remoteAdmin>
    <administrators>
      <adminUser>
        <login>root</login>
        <password>rafo%123</password>
      </adminUser>
    </administrators>
    <allowedRemoteAddresses/>
    <adminTcpPort>8091</adminTcpPort>
  </remoteAdmin>
  <bannedUserManager>
    <isAutoRemove>true</isAutoRemove>
    <isPersistent>true</isPersistent>
    <customPersistenceClass></customPersistenceClass>
  </bannedUserManager>
  <mailer>
    <isActive>false</isActive>
    <mailHost>your.smtp.here</mailHost>
    <mailUser>username</mailUser>
    <mailPass>password</mailPass>
    <smtpPort>25</smtpPort>
    <workerThreads>1</workerThreads>
  </mailer>
  <webServer>
    <isActive>true</isActive>
    <cfgFile>config/jetty/jetty.xml</cfgFile>
    <blueBoxPollingTimeout>26</blueBoxPollingTimeout>
    <blueBoxMsgQueueSize>40</blueBoxMsgQueueSize>
  </webServer>
  <webSocket>
    <isActive>true</isActive>
    <bindAddress>0.0.0.0</bindAddress>
    <tcpPort>9999</tcpPort>
    <validDomains/>
  </webSocket>
  <startExtensionFileMonitor>true</startExtensionFileMonitor>
  <useDebugMode>true</useDebugMode>
  <extensionRemoteDebug>true</extensionRemoteDebug>
  <useFriendlyExceptions>true</useFriendlyExceptions>
  <sessionMaxIdleTime>9000</sessionMaxIdleTime>
  <userMaxIdleTime>30000</userMaxIdleTime>
  <licenseCode></licenseCode>
  <licenseEmails></licenseEmails>
  <ghostHunterEnabled>true</ghostHunterEnabled>
  <statsExtraLoggingEnabled>true</statsExtraLoggingEnabled>
  <enableSmasherController>true</enableSmasherController>
  <analytics>
    <isActive>false</isActive>
    <runOnDay>[everyday]</runOnDay>
    <runAtHour>2</runAtHour>
    <runOnStartup>false</runOnStartup>
    <rebuildDB>false</rebuildDB>
    <skipGeolocation>false</skipGeolocation>
    <sourceFolder></sourceFolder>
    <locale></locale>
  </analytics>
</serverSettings>